.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.87);
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1; /* Allow content to grow and fill remaining space */
}
