.header {
  top: 0;
  left: 0;
  width: 100%;
}

.user-name {
  color: #43d967;
  text-transform: uppercase;
}

.header h1 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: left;
}
