.track-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Adjust card width as needed */
  gap: 20px; /* Adjust the gap between cards */
  text-decoration: none;
}

.track-card {
  background-color: #121212;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.track-card:hover {
  transform: translateY(-5px);
}

.track-card img {
  width: 100%;
  border-radius: 10px;
}

.track-info {
  margin-top: 10px;
}

.track-info h3 {
  font-size: 1.3em;
  margin: 0;
}

.track-info p {
  margin: 5px 0 0;
}

.roll-btn {
  background-color: #43d967;
  color: #000000;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 30px;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.roll-btn:active {
  background-color: #2f9e4f;
  transform: translateY(2px);
}

.weather-cond {
  color: #43d967;
}
