/* Weather.css */

.weather-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #121212;
  display: flex; /* Use flexbox to control layout */
}

.weather-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}

.weather-card h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.weather-card p {
  margin: 5px 0;
  text-align: right;
}

.weather-description {
  margin-bottom: 5px;
}

.weather-card img {
  width: 50px;
  height: 50px;
}

.weather-icon {
  display: flex;
  align-items: center;
}

#temp {
  font-size: 1.5rem;
  font-weight: bold;
}
